@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
}
.h1 {
  opacity: 1;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#e4a2fb, #da94fa);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 124px;
  line-height: 132px;
}
.h11 {
    -webkit-text-fill-color: transparent;
    background-image: url("../../public/text.png");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 96px;
}