@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
}
.h1 {
  opacity: 1;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#e4a2fb, #da94fa);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 124px;
  line-height: 132px;
}
