@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
}
.h1 {
  opacity: 1;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#e4a2fb, #da94fa);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;

}
.h11 {
  -webkit-text-fill-color: transparent;
  background-image: url("../../public/text.png");
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  
}
.prr {
  -webkit-text-fill-color: transparent;
  background-image: url("../../public/privacyy.png");
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  
}

.frames {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
}

.frames-primary {
  background-color: #1c1d1b;
}

.frames-primary:before {
  background: conic-gradient(
    from 5deg at 50% 50%,
    transparent 340deg,
    #f5e722 360deg,
    transparent 361deg
  );
}

.frames-primary:after {
  width: 100%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(-25%, -50%) rotate(45deg);
  content: "";
  animation: frames 8s linear infinite;
  animation-delay: -4s;
  background: conic-gradient(
    from 5deg at 50% 50%,
    transparent 340deg,
    #f5e722 360deg,
    transparent 361deg
  );
}

.frames:before {
  width: 100%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(-25%, -50%) rotate(225deg);
  content: "";
  animation: frames 8s linear infinite;
}

@keyframes frames {
  0% {
    transform: translate(-25%, -50%) rotate(225deg);
  }
  16.6666666667% {
    transform: translate(-25%, -50%) rotate(312.5deg);
  }
  50% {
    transform: translate(25%, -50%) rotate(360deg);
  }
  66.6666666667% {
    transform: translate(25%, -50%) rotate(472.5deg) scaleY(1.5);
  }
  to {
    transform: translate(-25%, -50%) rotate(585deg);
  }
}

.overlay {
  position: absolute;
  inset: 0;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}


.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}